:root[color-theme='light'] {
    --background: #fff;
    --dark-background: #fdfdfd;
    --color: #000;
    --warning: #f00;
}

:root[color-theme='dark'] {
    --background: #1e1e1e;
    --dark-background: #1b1b1b;
    --color: #fff;
    --warning: #f00;
}

.login-card {
    max-width: 600px;
    width: 100%;
    background: var(--background);
    padding: 50px;
    color: var(--color);
}

.login-form {
    max-width: 300px;
    width: 100%;
}

.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box > input {
    border: none;
    border-bottom: solid 1px gray;
    padding: 20px 0 5px 0;
    background-color: var(--background);
    color: var(--color);
    font-size: 16px;
    max-width: 500px;
    width: 100%;
}

input::placeholder{
    color:transparent;
}

input:placeholder-shown + label{
    color: var(--color);
    font-size: 16px;
    top: 16px;
}

input:focus + label, label {
    color: gray;
    font-size: 12px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown) {
    border-bottom: solid 1px gray;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.login-etc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.register-text {
    color: red;
    font-size: 14px;
}