<!doctype html>
<html lang="ko" color-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MountainView</title>

    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap" rel="stylesheet">

    <!--    CSS -->
    <link rel="stylesheet" href="/static/css/index.css">
    <!--    Jquery -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="main-container flex-row">
    <div class="side-navi flex-column">
        <a href="/" class="logo">MountainView</a>
        <div class="flex-row">
            <a href="/">산 찾기</a>
        </div>

    </div>
    <div class="flex-column main-contents" style="justify-content: start!important;">
        <div id="title" class="flex-column">
        </div>
        <div class="flex-row input-container">
            <label for="write-comment"></label>
            <input id="write-comment" class="input-300" type="text" name="findMtn" placeholder="이 산에 대한 글을 남겨주세요!">
            <button class="positive-btn btn-40-40" style="width: 100px" onclick="setMountain()">등록!</button>
        </div>
        <div id="comment" class="flex-column">

        </div>
    </div>
</div>
<script src="/static/js/user.js"></script>
<script>
    loginHandler();

    function loginHandler() {
        let side_navi = $('.side-navi');
        let navi_element;
        if (window.localStorage.getItem('29_login') !== null) {
            navi_element = `
                <div class="flex-row">
                    <a href="/mypage">마이페이지</a>
                </div>
                <button class="negative-btn" onclick="userLogout()">로그아웃</button>
            `
        } else {
            navi_element = `
                <a href="login">
                    <button class="positive-btn">로그인</button>
                </a>
            `
        }
        side_navi.append(navi_element);

        let mName = new URLSearchParams(location.search).get('mName');
        let addr = new URLSearchParams(location.search).get('addr');

        temp_html = `<h1>${mName}</h1></br><h3>${addr}</h3>`
        $('#title').append(temp_html)


    }
</script>
</body>
</html>